<div class="l-login-cover">
	<div class="form-login form-horizontal create-password-top-pad">
		 <!-- <form role="form"> -->
		<!--Create New Password ST-->
		<div class="create-new-password-panel">
			<h1 class="form-signin-heading text-center">Create New Password</h1>
			<div class="pat-t10">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="name">Name:</label>
				  <div class="col-sm-10">
					<label class="form-control-static txt-italic txt-unbold">{{userObj.name}} </label>
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<label class="form-control-static txt-italic txt-unbold">{{userObj.email}} </label>
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-offset-2 col-sm-10">
					<label class="form-control-static txt-unbold">Please enter your new password below</label>
				  </div>
				</div>
				<div class="form-group mar-b0" id="errorMsg" style="display:none">
				  <div class="col-sm-offset-2 col-sm-10">
					<div class="alert alert-danger">
					  The two passwords do not match. Please re-enter your password correctly
					</div>
				  </div>
				</div>
				<form  role="form" [ngFormModel]="changePasswordForm"  (ngSubmit)="submitChangePassword()" novalidate>
				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10 passwordEye">
					  <!-- <label for="password">New Password</label> --> 
					  <div class="input-append input-group">
						<input id="password" class="form-control" ngControl="password"   [type]="passwordType" value="" placeholder="New Password">
						<span tabindex="100" title="Click here to show/hide password" (click)="showPassword()" class="add-on input-group-addon" style="cursor: pointer;">
							<i  [ngClass]="displayPassword"></i>
						</span>
					  </div>
					  <span class="alert-danger" [hidden]="!(isSubmitted && !repeatPassword.valid )">Password does not match with below criteria</span>
					  <span >Your password must be at least 8 characters and contain at least one upper case, one lowercase letter, one number and one special character (!@#$%-_+), Passwords are case sensitive.</span>
					  <!---<span class="alert-danger" [hidden]="!(isSubmitted && !password.valid )">Your password must be at least 8 characters and contain at least one upper case, one lowercase letter, one number and one special character (!@#$%-_+), Passwords are case sensitive.</span>--->
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10 passwordEye">
					  <!-- <label for="repeatPassword">Confirm New Password</label> --> 
					  <div class="input-append input-group" style="margin-top:20px">
						<input id="repeatPassword" class="form-control" ngControl="repeatPassword"  [type]="repeatPasswordType"  value="" placeholder="Confirm New Password">
						<span tabindex="100" title="Click here to show/hide password"  (click)="showRepeatPassword()" class="add-on input-group-addon" style="cursor: pointer;">
							<i [ngClass]="displayRepeatPassword"></i>
						</span>
					  </div>
					  <span class="alert-danger" [hidden]="isShowErrormessage">Password does not match the confirm password</span>
					  </div> 
				  </div>


				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  
					  <button class="btn btn-lg btn-primary btn-block mar-t10 createNewPasswordSuccess_open" type="submit" title="Reset Password"  id="resetPasswordSubmit">Reset Password</button>
					</div>
				  </div>
				</form>
			</div>
		</div>
		<!--Create New Password EN-->
    <!-- </form> -->
	</div>
</div>
