<div class="l-login-cover">
<div class="form-login login-top-pad">
  <div id="resetPasswordPanel">
    <h1 class="form-signin-heading text-center">Forgot Your Password?</h1>
	<p class="l-msg">
		Don’t worry, it happens. Enter your email below and we’ll send you a link to access your account. 
	</p> 
    <div class="login-form clearfix">
      <div class="alert alert-danger" [hidden]="isShowMsg">
        Please contact helpdesk@lrn.com to reset the password
      </div>
      <div class="alert alert-success" [hidden]="isMailSent">
	  <p class="l-msg-icon"><i class="zmdi zmdi-mood"></i> Well that was easy! We’ve sent an email to {{sentEmail}}. If you don’t hear from us in the next few minutes take a look in your Junk or Spam folders. Still no luck? Send an email to <a href="mailto:support@lrn.com" class="btn btn-link l-txt-link" title="support">support</a> and we’ll fix it right away.</p>
        <!-- <p>Request sucessfully submitted. An email has been sent to {{sentEmail}}, check your e-mail for the link to reset your password. If you don't receive the email, please check your junk or spam mail folders.</p>
        <p>Still no luck? <a href="mailto:help@lrn.com" class="btn btn-link" title="Need More Help?">Contact our help team</a>.</p> -->
      </div>
      <div class="alert alert-danger" [hidden]="isMailNotSent">
	  <p class="l-msg-icon"><i class="zmdi zmdi-mood-bad"></i>Looks like something went wrong. Send an email to <a href="mailto:support@lrn.com" class="btn btn-link l-txt-link" title="support">support</a> and we’ll fix it right away.</p>
        <!-- <p>Unable to send reset email<a href="mailto:help@lrn.com" class="btn btn-link" title="Need More Help?">Contact our help team</a>.</p> -->

      </div>
      <form  [ngFormModel]="forgotForm"  (ngSubmit)="submitForgot()" novalidate>
        <div class="form-group">
          <label>Email</label>
          <input ngControl="email"  type="email" (onkeyup)="changeEvent()" class="form-control"  id="exampleInputEmail1" placeholder="Email" maxlength="40">

        </div>
        <button class="btn btn-lg btn-primary btn-block mar-t25 resetSuccess_open" [disabled]="!email.valid"  type="submit" title="Submit">Submit</button>
      </form>
    </div>


    <ul class="login-link clearfix">
      <li class="pull-left"><a [routerLink]="['Login']" class="btn btn-link" id="backToLogin" title="Back to Login"><i class="zmdi zmdi-arrow-left"></i></a></li>
      <li class="pull-right"><a href="mailto:support@lrn.com" class="btn btn-link" title="Need More Help?">Need More Help?</a></li>
    </ul>
  </div>

  <!-- Reset Popup ST -->

  <!-- Reset Popup EN -->

</div>
</div>
<div id="resetSuccess"  class="common-popup modal-dialog" >
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close resetSuccess_close">&times;</button>
      <h4 class="modal-title">Check Your Email</h4>
    </div>
    <div class="modal-body">
      <p>Request sucessfully submitted. An email has been sent to xxx@xxxx.com, check your e-mail for the link to reset your password. If you don't receive the email, please check your junk or spam mail folders.</p>
      <p>Still no luck? <a href="mailto:support@lrn.com" class="btn btn-link" title="Need More Help?">Contact our help team</a>.</p>
    </div>
    <div class="modal-footer">
      <button class="resetSuccess_close btn btn-default">Close</button>
    </div>
  </div>
</div>
