<!-- <footer id="footer" class="footer l-deactive hidden-xs" [hidden]="!isLoggedin">
	<div class="container">
	<div class="l-footer-nav pull-left">
		<a title="Coming Soon!"><i class="zmdi zmdi-download"></i> Download Library</a> | <a title="Coming Soon!">Browse Entire Library</a> | <a title="Coming Soon!">Help</a> |  <a title="Contact">Contact</a> | <a title="Coming Soon!">Terms &amp; Conditions</a>
	</div>
    <div class="pull-right">&copy; 2016 LRN Corporation</div>
	</div>
</footer>

 -->
<footer id="footer" class="footer l-deactive hidden-xs">
	<div class="container">
	<div class="l-footer-nav pull-left">
		<a title="Coming Soon!"><i class="zmdi zmdi-download"></i> Download Library</a> | <a title="Coming Soon!">Browse Entire Library</a> | <a title="Coming Soon!">Help</a> |  <a title="Contact">Contact</a> | <a title="Coming Soon!">Terms &amp; Conditions</a>
	</div>
    <div class="pull-right">&copy; 2016 LRN Corporation</div>
	</div>
</footer>
